---
http_interactions:
- request:
    method: post
    uri: https://auth.app.wiz.io/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=test_client_id&client_secret=test_client_secret&audience=wiz-api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","expires_in":3600,"token_type":"Bearer"}'
  recorded_at: Fri, 17 Oct 2025 12:00:00 GMT
- request:
    method: post
    uri: https://auth.app.wiz.io/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=test_client_id&client_secret=invalid_secret&audience=wiz-api
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"unauthorized_client","error_description":"Unauthorized"}'
  recorded_at: Fri, 17 Oct 2025 12:00:01 GMT
recorded_with: VCR 6.3.1

